* {
    font-family: "Poppins", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    margin-top: 47px;
    margin-left: 42px;
}

.link-header{

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #17233D;
    letter-spacing: 0.875;
    margin-right:  32px;;
    cursor: pointer;

}

.button-header {

    width: 124px;
    height: 51px;
    border-radius: 6px;
    background:#6FBF44;
    border: 1px #4cb538;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;  
    letter-spacing: 1px;
}

.img-logo {
  
    margin-top: 65px;
    display: inline-block;
}

.img-cel {

  display: none;
}


div{
    width: 593px;
    display: inline-block;
    margin-left: 85px;
    
}

h1 {

    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161a49;
    

}

p { 

   font-weight: 400;
   font-size: 18px;
   line-height: 33px;
   letter-spacing: 0.5px;
   color:#4b505a;
   margin-top: 57px;
   margin-bottom: 55px;


}

.button-main {
    
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    text-decoration: underline;
    


}

@media screen and (max-height: 900px){        
 

  header {
    margin: 17px 15px 0 0;
    text-align:right;
  }

  .link-header {
    display: none;
  }
  
  .button-header {

    padding: 6px 10px;
    font-size: 12px;
    line-height: 18px;
  }

  div {
    display: block;
    width: 100%;
    margin: 76px 0 55px;
    padding: 0 55px;
    text-align: center;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
  }

  p {
    margin: 30px 0;

  }

  .img-cel {
    display: revert;
    width: 100%;
    padding: 0 38px;
    min-width: 312px;
  }
   .img-logo {
    
    display:none;

   }  
  

